.listItem {
    display: inline-block;
    transition: transform .2s;
    border-radius: 1.5em;
    font-size: 1.3em;
    text-decoration: none;
    color: #cf2667;
}

a {
    font-size: 1.3em;
    text-decoration: none;
    color: #cf2667;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}