.blogArticle {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 0 2em 0 2em;
    border: 2px solid #fff;
    box-shadow: 0 0 20px 5px #ccc;
    font-size: 1.2em;
    /* border:1px solid blue; */
}

.blogArticle h2 {
    text-align: center;
    margin: 0.5em;
}

.createBlogPostLink {
    align-self: center;
    margin-top: 0.6em;
}

.userSummary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 1em;
}

.userSummary span {
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 1em;
    background-color: rgb(224, 207, 212);
}