.blogArticle {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 0 2em 2em 2em;
    border: 2px solid #fff;
    box-shadow: 0 0 20px 5px #ccc;
    font-size: 1.2em;
    /* border:1px solid blue; */
}

.blogArticle h2 {
    text-align: center;
    margin: 0.5em;
}

.userSummary .createBlogPostLink {
    align-self: center;
    background-color: #D41872;
    color: white;
    transition: transform .2s;
}

.createBlogPostLink:hover {
    transform: scale(1.1);
}

.userSummary {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}

.userSummary span,
.createBlogPostLink {
    font-size: 1em;
    height: 2em;
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 1em;
    background-color: rgb(224, 207, 212);
}