.categories {
    width: 100%;
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

/* .active::before {

} */

.active {
    padding: 0 0.4em 0 0.4em;
    background-color: burlywood;
    background-size: contain;
    border-radius: 1em;
}