.blogArticle {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 0 2em 2em 2em;
    border: 2px solid #fff;
    box-shadow: 0 0 20px 5px #ccc;
    font-size: 1.2em;
    /* border:1px solid blue; */
}

.blogArticle h2 {
    text-align: center;
    text-transform: capitalize;
}

.createBlogPostLink {
    align-self: center;
    margin: 1em 0 0.4em 0;
    background-color: #D41872;
    color: white;
    transition: transform .2s;

    font-size: 1em;
    height: 2em;
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 1em;
}

.createBlogPostLink:hover {
    transform: scale(1.1);
}