.blogSection {
  height: 28rem;
  padding: 0 1em 0 1em;
  margin: 0.4em 0 0.4em 0;
  background-color: #cf26675e;
  border-radius: 0.4em;
  font-size: 1.4em;
}

.blogSection h3 {
  text-align: center;
  text-transform: capitalize;
}

.blogImage,
.blogImageOdd {
  border-radius: 0.4em;
  width: 45%;
  height: 60%;
  object-fit: cover;
}

.blogImage {
  float: left;
}

.blogImageOdd {
  float: right;
}

.blogParagraph,
.blogParagraphOdd {
  overflow: hidden;
  /*
    white-space: nowrap;
    text-overflow: ellipsis; */
  text-align: justify;
  font-size: 0.6em;
  width: 50%;
  height: 50%;
  margin: 0 0.5em 0 0.5em;
}

.blogParagraph {
  float: right;
}

.blogParagraphOdd {
  float: left;
}

.blogPostLink,
.blogPostLinkOdd {
  margin: auto;
  padding: 0.5em 0 0 0.4em;
  font-size: 0.8em;
}

.blogPostLink {
  float: right;
}

.blogPostLinkOdd {
  float: left;
}
