.successMessage {
    display: inline-block;
    margin: 1em auto 1em auto;
    padding: 0.6em;
    width: 100%;
    border-radius: 1.3em;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(145, 196, 145);
}