.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: white;
    color: #234465;
    border-top: 2px solid #cf2667;
    border-bottom: 2px solid #cf2667;
}

.footer p {
    text-align: center;
    font-weight: bold;;
}

.footer ul {
    display: inline-block;
    margin: 2em 0 2em 0;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0.5em;
}

.footer ul li a {
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 50%;
    color: #000000;
    background-color: rgb(216, 215, 215);
}

.footer ul li a i {
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}

.footer ul li:nth-child(1) a:hover {
    color: #3B5998;
}

.footer ul li:nth-child(2) a:hover {
    color: #00ACED;
}
.footer ul li:nth-child(3) a:hover {
    color: #DD4B39;
}
.footer ul li:nth-child(4) a:hover {
    color: #007BB6;
}

.footer ul li:nth-child(5) a:hover {
    color: #6E89A6;
}