.main {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.register-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 28rem;
    width: 40%;
}

.register-form h1 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: normal;
}

.register-form form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 0.8em;
    height: 60%;
}

.register-form form input:nth-child(1),
.register-form form input:nth-child(2),
.register-form form input:nth-child(3) {
    width: 100%;
    padding: 1em 0.5em 1.2em 4em;
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid #EFEFEF;
    outline: none;
    font-family: inherit;
}

.register-btn {
   align-self: center;
   margin-top: 2.5em;
   margin-bottom: 1em;
   padding: 0.8em 3em;
   font-family: inherit;
   border: none;
   border-radius: 1.3em;
   color: #FFFFFF;
   background-color: #D41872;
   width: 90%;
}

.register-btn:hover {
    cursor: pointer;
}

.register-btn:active {
    background-color: rgb(138, 17, 76);
}

.register-btn:focus {
    outline: none;
}

.register-form form {
    height: 72%;
}

.loginLink {
    margin-left: 0.2em;
    font-size: 1em;
    transition: transform .2s;
}

.loginLink:hover {
    transform: scale(1.1);
    text-decoration: underline;
}